* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  background: hsl(133, 66%, 58%);
  padding: 0px 10%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: auto;
  padding: 10px 30px;
  font-weight: 500;
  color: hsl(235, 53%, 17%);
}
.logo{
  font-family: "Oswald", sans-serif;
  font-size: 32px;
}
.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
li a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}
.font-main{
  font-size: 16px;
  color: hsl(0, 0%, 25%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.form-container{
  padding: 0px 10%;
  margin: 40px;
  
}
.form{
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(0, 0%, 90%);
  padding: 40px;
  border-radius: 5px;
  gap: 20px;
}
.input-wrapper{
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
input[type=text], textarea{
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: hsl(0, 0%, 30%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
input{
  width: 100%;
}
.post-wrapper{
  overflow:auto;
  padding: 0px 2px;
}
textarea{
  width: calc(100%);
  font-size: 16px;
  box-shadow: 0 0 0 2px hsl(0, 0%, 100%);
}
textarea:focus, input:focus{
  box-shadow: 0 0 0 2px hsl(235, 53%, 17%);
}

.btn-submit{
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: hsl(235, 53%, 17%);
  color: white;
  font-size: 16px;
  font-family: inherit;
}
::placeholder{
  font-size: 16px;
  font-family: "Poppins", sans-serif; 
}

/* posts */
.all-posts, .post-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.all-posts{
  gap: 40px;
  padding: 40px 10%;
}

.post-container{
  background:hsl(0, 0%, 90%);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}

.paragraph{
  height: 48px;
  overflow: hidden;
}
.readmore{
  text-decoration: none;
}